/*===================================================
=            Feuille de style du builder            =
===================================================*/

/*----------  New variable  ----------*/

$navBuilderHeight: 60px;

/*----------  Import   ----------*/

@import 'compass/css3';

/*----------  Variable  ----------*/

$primaryColor: #0676B2; // Couleur primaire
$secondaryColor: #FF3B49; // Couleur secondaire
$tertiaryColor: #22B2FF; // Couleur tertiaire

$additionalColor: #FF9E22; // Couleur complémentaire

$primaryBackgroundColor: #FFFFFF; // Couleur de fond primaire
$secondaryBackgroundColor: #F0F0F0; // Couleur de fond secondaire

$primaryTextColor: #444; // Couleur de texte primaire

$colorBorder: rgba(0,0,0,0.2);

$primaryBorder: 1px solid $colorBorder;

$navHeight: 65px; // Hauteur de la navbar superieure
$sidebarNoActiveWidth: 80px; // Largeur de la sidebar non active
$sidebarActiveWidth: 150px; // Largeur de la sidebar active

// Force de l'ombre
$shadow0: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); 
$shadow1: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 
$shadow2: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$shadow3: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

/*----------  Mixins  ----------*/

// Flexibilisation
@mixin flex($flow, $justify, $align) {
    @include display-flex();
    @include flex-flow($flow);
    @include justify-content($justify);
    @include align-items($align);
}

// Image de fond
@mixin back($background, $attachment, $size, $position, $repeat) {
    background: $background;
    background-attachment: $attachment;
    background-size: $size;
    background-position: $position;
    background-repeat: $repeat;
}

// Visibilité
@mixin visible($boolean) {
    @if $boolean == false {
        visibility: hidden;
        @include opacity(0);
    }
    @if $boolean == true {
        visibility: visible;
        @include opacity(1);
    }
}

// Animation de la visibilité
@mixin animateVisibility($time) {
    @include single-transition(none, $time, ease, 0s);
    @include transition-property(visibility, opacity);
}

// Désactivation de la séléction
@mixin noselect(){
    -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
}

/*----------  Fonctions  ----------*/

// Création d'un rgba
@function rgbaExpress($color, $force) {
    $opacity: $force;
    @if $color == 'black' {
        $color: '0,0,0'
    }
    @if $color == 'white' {
        $color: '255,255,255'
    }
    $rgba: rgba($color, $force);
    @return $rgba;
}



div.container_builder { overflow: hidden!important;
    
    div.container_left, div.container_right { height: calc(100vh - #{$navHeight} - 1px); }

    div.container_left { width: 70%; }

    div.container_right { width: calc(30% - 1px); border-left: $primaryBorder; }

    header.header_builder {
        height: $navBuilderHeight;
        @include box-shadow($shadow0);
        @include box-sizing(border-box);
        background-color: #fff;
        width: 100%;
        z-index: 1;
        border-bottom: $primaryBorder;
    }
}

/*----------  Partie Gauche du builder  ----------*/

header.header_builder_left {
    padding: 15px 30px;

    input#documentTitle {
        margin : 0; padding: 0; outline: none; border: 0;
        color: $primaryTextColor;
        width: 200px;
        @include opacity(0.85);
        border-bottom: $primaryBorder;
        &:focus { color: #000; @include opacity(1.0); }
    }


    // A TESTER !!!
    span.btn_Test_template {
        font-size: 15px;
        color: #f0f0f0;
        padding: 4px 8px;
        @include border-radius(3px);
        cursor: pointer;
        margin-right: 10px;
        @include opacity(0.85);
        @include single-transition(opacity, 0.3s, ease, 0s);
        &:hover { @include opacity(1); }
        @include inline-block(middle);
        i {@include inline-block(middle); font-size: 21px; }
        span { @include inline-block(middle);}

        &#valideTemplate { background-color: #4CAF50; }
        &#cancelTemplate { background-color: #F44336; }
    }
    ////////

    span.icon-action, button {
        -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
        padding: 0;
        text-align: right;
        padding-left: 15px;
        outline: none; border: 0; 
        background-color: transparent;
        cursor: pointer;
        color: $primaryTextColor;
        @include opacity(0.7);
        @include single-transition(opacity, 0.3s, ease, 0s);
        &:hover{@include opacity(1.0); }
        &.active { color: #1565C0; }
    }

    div.minicolors {
        width: 17px; height: 17px;
        top: -1px;
        @include single-transition(width, 0.4s, ease, 0s);

        input {
            border: 0; margin:0; padding:0;
            top: -1px; right: 0;
            outline: none;
            text-transform: uppercase;
            position: absolute;
            width: 70px;
            @include single-transition(opacity, 0.3s, ease, 0.4s);
            @include visible(false);
        }
        .minicolors-swatch { 
            top: 50%; 
            @include translateY(-50%); 
            left: 0;
            height: 100%;
            width: 17px;
        }

        .minicolors-panel {
            top: 17px;
            @include visible(false);
            @include animateVisibility(0.3s);
        }

        &:hover {
            width: 95px;
            input { @include visible(true); }
            .minicolors-panel { @include visible(true); display: block; }
        }
    }
}


div.content_email {
    height: calc(100% - #{$navBuilderHeight});
    width: 100%;
    position: relative;
    margin: 0 auto;

    & > div#storage_email {
        height: 100%;
        @include box-sizing(border-box);
        padding: 30px 0;
        width: auto;
        margin: 0 auto;
        overflow-x: hidden;
        overflow-y: scroll;
        max-width: 100%;

        & > .sortable-placeholder {
            border: 1px dotted #444;
            border-right: 0;
            border-left: 0;
            width: 100%!important;
            background-color: adjust-lightness(#f0f0f0, 1);
        }

        & > table[data-section], table[data-section] * {
             @include single-transition(width, 0.5s, ease, 0s);

             a { cursor: default; }
             .active { @include opacity(1.0); }
             .noactive { @include opacity(0.75); }
        }

        table[data-content] { position: relative; }

        & > table[data-mobile] { width: 500px!important; }

        td[data-text], img[data-img], td[data-spacer], a[data-cta] {
            @include single-transition(opacity, 0.2s, ease, 0s);
        }

        a[data-cta] { cursor: text!important; }

        table, td { outline: none; word-break: break-all; }
    }
}

div.medium-editor-toolbar {
    animation-duration: 500ms!important;
    @include box-shadow($shadow0);
    &.medium-toolbar-arrow-under::after { border-color: $primaryColor; border-width: 4px 10px 0px; margin-left: -10px; bottom: -3px;}
    ul.medium-editor-toolbar-actions {
        border: $primaryBorder;
        li { 
            border:0; padding: 0px;
            background-color: #fff;
            color: $primaryTextColor;

            & > button.medium-editor-action {
                border: 0;
                width: 37px; height: 37px;
                padding: 0; margin: 0;
                background-color: #fff;
                @include opacity(0.7);
                @include single-transition(background-color, 0.3s, ease, 0s);
                i { vertical-align: middle; font-size: 19px; }
                &:not(.medium-editor-button-first) { border-left: 1px solid rgbaExpress(white, 0.3); }
                &:hover { @include opacity(1); }

                &.medium-editor-button-active {
                    background-color: adjust-lightness($primaryColor, 5);
                    @include opacity(1);
                    color: rgbaExpress(white, 0.85);
                }
            }
        }
    }

    div.medium-editor-toolbar-form {
        background-color: #fff;
        border: $primaryBorder;
        &.medium-editor-toolbar-form-active { @include flex(row nowrap, flex-start, center);}

        input { background-color: transparent; width: 200px; }

        a { height: 100%; margin: 0 7px;
            @include display-flex();
           i { margin: auto; color: adjust-lightness($primaryColor, 5); font-size: 20px; }
           i:hover { color: $primaryColor; }
        }
    }
}

div.medium-editor-anchor-preview {
    margin-top: -10px;
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    border: $primaryBorder;
    background-color: #fff;
    @include border-radius(2px);
    @include box-shadow($shadow0);
    a {
        color: $primaryColor;
        @include opacity(0.8);
        text-decoration: underline; 
        font-size: 12px;
        margin: 0;
        padding: 2px 12px;
    }
}

div.tools_section {
    width: 35px;
    height: 100px;
    @include translateX(-100%);
    left: 0; top: 0;
    background-color: #fff;
    border: $primaryBorder;
    position: absolute;
    @include opacity(1);

    span {
        position: relative;
        @include flex-grow(1);
        border-bottom: $primaryBorder;
        width: 100%;
        color: $primaryTextColor;
        font-size: 18px;
        @include opacity(0.7);
        cursor: pointer;
        @include single-transition(none, 0.1s, ease, 0s);
        @include transition-property(opacity, color);
        &:hover { @include opacity(1); }

        i {
            position: absolute;
            left: 50%; top: 50%; @include translate(-50%, -50%); margin-left: 1px;
            color: inherit; font-size: inherit;
        }

        &:first-child { cursor: move; }
        &:last-child { border: 0; }
    }
}

/*----------  Partie Droite du builder  ----------*/

header.header_builder_right {
    border-bottom: none!important; @include box-shadow(none !important);
    span {
        width: calc(100% / 2);
        display: block;
        background-color: $primaryColor; 
        color: #fff;
        border-bottom: $primaryBorder;
        @include box-shadow($shadow0);
        text-align: center;
        height: calc(#{$navBuilderHeight} - 1px);
        line-height: $navBuilderHeight;
        text-transform: uppercase;
        cursor: pointer;
        @include single-transition(none, 0.3s, ease, 0s);
        @include transition-property(color, background-color);

        &.active { 
            background-color: #fff; 
            color: $primaryTextColor;
            border-bottom-width: 0;
            @include box-shadow(none);
        }
    }
}

div.content_sidebar {
    height: calc(100% - #{$navBuilderHeight});
    width: 100%;
    background-color: #fff;

    div.task_sidebar {
        width: 100%;
        overflow-y: scroll;
        height: 100%;
        @include visible(false);
        @include animateVisibility(0.3s);
        display: none;
        &.active { @include visible(true); display: block; }

        &.notask { overflow: hidden;
            & > div { 
                position: absolute;
                top: 50%;
                @include translateY(-50%);
                text-align: center;

                svg {
                    height: 120px;
                    width: 120px;
                    @include opacity(0.8);
                }

                p { 
                    padding: 20px 15px;
                    font-weight: 600;
                    line-height: 1.2em;
                    color: $primaryTextColor;
                    text-align: center;
                    font-style: italic;
                }
            }
        }
    }
}

/*----------  Items  ----------*/

div.field_item_sidebar {
    width: 100%;
    padding: 10px 15px;
    @include box-sizing(border-box);
    @include justify-content(flex-start);

    & > div { width: 100%; @include align-items(flex-start); }

    label {
        margin: 8px 0;
        width: 100%;
        font-weight: 600;
        color: adjust-lightness(#000,20);

        & > span.unity {
            color: adjust-lightness(#000,38);
            font-style: italic;
            font-size: 12px;
        }
    }

    div.minicolors::after, select, input, option {
        font-size: 14px!important;
        padding: 5px;
    }

    span.ui-button-icon {
        width: 100%;
        height: 100%;
        position: relative;
        top: 0; left: 0; right: 0; bottom: 0;
        display: block;
        margin: 0; text-indent: 0;

        i {
            position: absolute;
            color: $primaryTextColor;
            top: 50%; left: 50%;
            @include translate(-50%, -50%);
            font-size: 14px;
        }
    }

    .item, select, input:not(.change_number), {
        height: 29px;
        border: 1px solid rgba(0,0,0,0.3);
        @include border-radius(3px);
        @include box-sizing(border-box);
        outline: none;
        position: relative;
        &:not(p) { width: 100%; }

        &::-webkit-input-placeholder {
        color:  $primaryTextColor;
        font-size: 14px!important;
        @include opacity(0.8);
        } &:-moz-placeholder {
            color:  $primaryTextColor;
            font-size: 14px!important;
            @include opacity(0.8);
        } &::-moz-placeholder {
            color:  $primaryTextColor;
            font-size: 14px!important;
            @include opacity(0.8);
        } &:-ms-input-placeholder {
            color:  $primaryTextColor;
            font-size: 14px!important;
            @include opacity(0.8);
        } &::-ms-input-placeholder   {
            color:  $primaryTextColor;
            font-size: 14px!important;
            @include opacity(0.8);
        }
    }

    &#background-color, &#color {

        div.minicolors { padding: 5px; height: 100%; width: 100%; @include box-sizing(border-box); }

        div.minicolors::after {
            content: 'Selectionner une couleur';
            position: absolute;
            padding: 0!important;
            top: 0; bottom: 0;
            line-height: 29px;
            width: calc(100% - 33px);
            background-color: #fff;
            right: 0;
            height: 100%;
        }

        div.minicolors_before.active { &::after { @include visible(false); } }

        input.minicolors-input {
            width: calc(100% - 33px);
            text-transform: uppercase;
            border: 0; padding: 0; margin: 0;
            outline: none; 
            height: 100%; 
            top: 0;
            z-index: 0;
            background-color: transparent; 
            position: absolute;
            right: 0;
        }

        span.minicolors-swatch {
            top: 50%; left: 5px; 
            width: 18px;
            z-index: 999;
            height: 18px;
            @include translateY(-50%);
        }

        div.minicolors-panel { top: 100%; left: 5px; }
    }

    &#img {
        button {
            margin: 0;
            min-width: 120px;
            font-size: 15px;
            background-color: $primaryTextColor;
            color: #fff;
        }
    }

    &#height, &#font-size, &#line-height {

        span.ui-spinner { width: 100%; height: 100%!important; display: block; }

        input.ui-spinner-input { 
            margin: 0; 
            padding: 5px; 
            @include box-sizing(border-box);
            height: 100%; 
            vertical-align: baseline; 
        }

        a.ui-button {
            position: absolute;
            width: 30px;
            height: 100%;
            top: 0; right: 0; bottom: 0;
            border-left: $primaryBorder;
            &:last-child { right: 30px; }
        }
    }

    &#text-align {
        span.format_align {
            height: 100%;
            width: 30px;
            position: relative;
            cursor: pointer;
            display: block;
            &:nth-child(2), &:nth-child(3), { border-right: $primaryBorder; border-left: $primaryBorder; }
            &:nth-child(3) { border-left: 0; }
            @include noselect();
            @include opacity(0.7);
            @include single-transition(none, 0.3s, ease, 0s);
            @include transition-property(background-color, opacity);
            &:hover, &.active { @include opacity(1); }
            &.active { background-color: adjust-lightness($primaryTextColor, 65); }

            i {
                position: absolute;
                color: $primaryTextColor;
                font-size: 16px;
                top: 50%; left: 50%;
                @include translate(-50%, -50%);
            }
        }
    }

    &#padding, &#border {
        div.map { 
            height: 200px;
            padding: 10px 10px;
            position: relative;
            background-color: #fafafa;
            @include align-content(flex-start);

            & > span.widget_flipper {
                position: absolute;
                display: block;
                width: 20px; height: 20px;
                top: 5px; right: 5px;
                text-align: center;
                cursor: pointer;
                background-color: #fff;
                border: $primaryBorder;
                i { font-size: 10px; color:$primaryTextColor; @include inline-block(middle); }
                @include single-transition(background-color, 0.3s, ease, 0s);
                @include noselect();
                &:hover { background-color: transparent; i { color: #000; } }
                &.active { background-color: rgbaExpress(black, 0.5); i { color: #fff; } }

                &:first-child { right: 35px; }
            }

            & > div.map_block {
                width: calc(calc(100% / 3) - 7px);
                height: calc(calc(100% / 3) - 7px);
                @include box-sizing(border-box);
                &.center { margin: 0 10px; }
                &:not(:last-child) { margin-bottom: 10px; }
                border: $primaryBorder;
                @include border-radius(3px);
                background-color: #fff;
                &.notvisible { @include visible(false); }

                &.map_block_center { 
                    background: repeating-linear-gradient( 45deg,  #fafafa, #f0f0f0 10px, #fafafa 10px, #f0f0f0 10px ); 
                    p { 
                        position: relative;
                        top: 50%;
                        @include translateY(-50%);
                        margin: 0 auto; 
                        text-align: center;
                        font-size: 13px;
                        font-weight: bold; 
                    }
                }

                & > div.flipper {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    @include single-transition(transform, 0.3s, ease, 0s);
                    @include transform-style(preserve-3d);

                    &.active { @include rotateX(-180deg); }

                    & > div.flipper_front, & > div.flipper_back {
                            @include single-transition(transform, 0.3s, ease, 0s);
                            @include backface-visibility(hidden);
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            left: 0; right: 0; top: 0; bottom: 0;
                        }

                        & > div.flipper_front { z-index: 0;}
                        & > div.flipper_back {  @include rotateX(180deg, 0); }
                }

                div.map_block_number {

                    & > span.ui-spinner {
                        position: relative;
                        height: inherit;
                        width: inherit;

                        & > input.ui-spinner-input {
                            padding: 0; margin: 0;
                            width: 70%;
                            text-align: center;
                            position: absolute;
                            top: 50%;
                            @include translateY(-50%);
                            vertical-align: baseline;
                        }

                        & > a.ui-button {
                            width: 30%;
                            height: 50%;
                            display: block;
                            @include box-sizing(border-radius);
                            border-left: $primaryBorder;
                            &:not(.ui-spinner-up) { border-top: $primaryBorder; }
                        }
                    }
                }

                div.map_block_color {

                    & > div.minicolors {
                        height: 100%;
                        width: 100%;
                        position: relative;

                        & > input.minicolors-input {
                            padding: 0; margin: 0; border: 0;
                            width: 70%;
                            font-size: 13px!important; 
                            text-align: center;
                            position: absolute;
                            top: 50%;
                            @include translateY(-50%);
                            vertical-align: baseline;
                        }

                        & > span.minicolors-swatch {
                            width: 30%;
                            height: 100%;
                            border: 0;
                            @include box-sizing(border-box);
                            border-left: $primaryBorder;
                            position: absolute;
                            right: 0; left: auto; top: 0; bottom: 0; 
                        }

                        & > div.minicolors-panel { top: 100%; }
                    }
                }
            } 
        }
    }
}

div.thumbnail {
    width: 100%;
    background-color: #fff;
    max-width: 700px;
    margin: 10px 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding: 2px 5px;
    @include box-sizing(border-box);
    @include single-transition(opacity, 0.2s, ease, 0s);
    @include transition-property(opacity, border-color);

    * { width: 100%; display: block; cursor: move; }

    &:hover { @include opacity(1); border-color: #D7CCC8; }
}

/*----------  Popup  ----------*/

div#popupCroppie {

    div.popup_container {
        padding: 30px 15px; 
        background-color: $primaryBackgroundColor;
        @include border-radius(3px);
        text-align: center;

        span#closeCroppie {
            position: absolute;
            top: 10px; right: 10px;
            display: block;
            width: 22px;
            height: 22px;
            background-color: transparent;
            cursor: pointer;
            &::after, &::before {
                content: '';
                position: absolute;
                height: 2px;
                top: 50%; left: 0; right: 0;
                margin-top: -2px;
                width: 100%;
                background-color: $primaryTextColor;
                @include single-transition(transform, 0.3s, ease, 0s);
            }
            &::after { @include rotate(45deg); }
            &::before { @include rotate(-45deg); }

            &:hover {
                &::after { @include rotate(20deg); }
                &::before { @include rotate(-20deg); }
            }
        }

        & > div.croppie-container {
            width: 100%;
            height: auto;
            @include box-sizing(border-box);
            min-height: 350px;

            input[type=range]::-webkit-slider-thumb {
                background-color: $primaryColor;
                @include box-shadow($shadow0);
                height: 16px;
                width: 16px;
                @include border-radius(50%);
                @include appearance(none);
                cursor: auto;
            }
            input[type=range]::-webkit-slider-runnable-track {
                width: 400px; height: 6px;
            }
        }

        p {  margin-bottom: 30px; }

        input#altImg {
            display: inline-block;
            padding: 5px 8px;
            background-color: #fff;
            border: $primaryBorder;
            @include border-radius(3px);
        }

        input#newImg {
            @include appearance(none);
            position: relative;
            visibility: hidden;
            &::after {
                content: 'Choisir un fichier';
                position: absolute;
                left: 50%;
                top: 50%;
                cursor: pointer;
                visibility: visible;
                @include translate(-50%, -50%);
                background-color: #fff;
                font-family: 'bariolregular', 'Helvetica';
                font-size: 16px;
                text-align: center;
                padding: 10px 15px;
                color: #000;
                border-bottom: $primaryBorder;
                @include border-radius(3px);
            }
        }

        button { display: inline-block; }
    }
}











// Container Croppie
// div.edit_img#imgToCroppie {
//     position: absolute;
//     z-index: 99;
//     height: calc(100% - 50px);
//     width: 100%;
//     background-color: rgba(255,255,255,0.80);
//     top: 50px;
//     bottom: 0; right: 0; left: 0;
//     visibility: hidden;
//     @include opacity(0);
//     @include single-transition(none, 0.2s, ease, 0s);
//     @include transition-property(opacity, visibility);
//     &.active { visibility: visible; @include opacity(1); }

//     & > span {
//         position: absolute;
//         top: 10px;
//         right: 10px;
//         width: 28px;
//         height: 28px;
//         background-color: transparent;
//         cursor: pointer;
//         &::after, &::before {
//             content: '';
//             position: absolute;
//             height: 4px;
//             top: 50%;
//             margin-top: -2px;
//             width: 100%;
//             background-color: #f0f0f0;
//             @include single-transition(transform, 0.3s, ease, 0s);
//         }
//         &::after { @include rotate(45deg); }
//         &::before { @include rotate(-45deg); }

//         &:hover {
//             &::after { @include rotate(20deg); }
//             &::before { @include rotate(-20deg); }
//         }
//     }

//     & > div {
//         width: 100%;
//         padding: 22px 10px;
//         background-color: rgba(0,0,0,0.80);
//         padding-top: 60px;
//         height: 100%;

//         div#cropperimg {
//             width: 100%;
//             margin: 5px auto;
//             height: auto;
//             min-height: 358px;

//             input[type=range]::-webkit-slider-thumb {
//                 color: red;
//                 background-color: $primaryColor;
//                 @include box-shadow($shadow0);
//                 height: 16px;
//                 width: 16px;
//                 @include border-radius(50%);
//                 -webkit-appearance: none;
//                 cursor: auto;
//             }
//             input[type=range]::-webkit-slider-runnable-track {
//                 background-color: #fff;
//                 width: 400px;
//                 height: 6px;
//                 @include border-radius(0%);
//             }
//         }

//         div.action_img {
//             margin: 10px;
//             width: 100%;
//             input {
//                 outline: none;
//                 border: 0;
//                 -webkit-appearance: none;
//                 font-size: 12px;
//                 padding: 0 5px;
//                 position: relative;
//                 @include box-sizing(border-box);
//                 height: 25px;
//                 color: #444;
//                 font-family: 'Roboto';
//                 font-weight: bold;
//                 @include border-radius(3px);
//                 border: 1px solid rgba(0,0,0,0.3);
//                 width: 200px;
//                 min-width: 200px;
//                 background-color: adjust-lightness(#444, 70);
//                 margin: 0 10px;
//                 text-align: left;

//                 &[type="file"] {
//                     overflow: hidden;
//                     &::after {
//                         content: 'Choisir un fichier';
//                         @include flex(row wrap, center, center);
//                         position: absolute;
//                         width: 100%;
//                         height: 100%;
//                         top: 0; left: 0; right: 0; bottom: 0;
//                         border:0!important;
//                     }
//                 }
//             }
//             &.btns_action {

//                 input { height: 35px; }
//                 input, input::after {
//                     text-align: center;
//                     background-color: $primaryColor;
//                     color: #fafafa;
//                     cursor: pointer;
//                     border: 1px solid rgba(255,255,255,0.5);
//                     @include single-transition(background-color, 0.3s, ease, 0s);
//                 }

//                 input[type="file"], input[type="submit"] { 
//                     &:hover { 
//                          background-color: #1565C0; 
//                         &:after { background-color: #1565C0; }
//                     }
//                 }
//             }
//         }
//     }

//     .croppie_custom .cr-viewport {
//         border: 0;
//         @include box-shadow(0 0 2000px 2000px rgba(0, 0, 0, 0.7));
//     }
// }


/*----------  Sidebar  ----------*/

// Container direct
// div.sidebar_tools > div.menu { background-color: #fff; min-height: 100%;
    
//     & > div.task {
//         width: 100%;
//         display: none;

//         &.menuactive { display: block; }

//         &.todo {
//             width: 100%;
//             position: relative;
//             flex-grow: 1;

//             & > div {
//                 position: absolute;
//                 width: 100%;
//                 top: calc(50% - 48px);
//                 @include translateY(-50%);
//             }
//             svg {
//                 height: 120px;
//                 width: 120px;
//                 @include opacity(0.8);
//             }

//             p { 
//                 text-align: center; 
//                 font-family: 'Roboto';
//                 font-size: 17px;
//                 font-style: italic;
//             }
//         }
//     }
// }

// // Section des thumbs
// .menu .sections_builder_block {
//     & > div.thumbnail {
//         width: 100%;
//         // max-width: 350px;
//         overflow-x: hidden;
//         z-index: 5000;
//         margin: 10px 0;
//         border-top: 1px solid rgba(0,0,0,0.1);
//         border-bottom: 1px solid rgba(0,0,0,0.1);
//         @include opacity(0.8);
//         padding: 2px 5px;
//         @include box-sizing(border-box);
//         @include single-transition(opacity, 0.15s, ease, 0s);

//         * { width: 100%; display: block; cursor: move; }

//         &:hover { @include opacity(1); }
//     }
// }

/*=====  End of Email builder's page  ======*/


// end header

// div.popup_overlay,
// div.popup_container#popupExport {
//     visibility: hidden;
//     @include opacity(0);
//     @include single-transition(opacity, 0.3s, ease, 0s);
//     &.active {
//         visibility: visible;
//         @include opacity(1.0);
//     }
// }

// div.popup_overlay {
//     width: 100%;
//     height: 100%;
//     background-color: rgba(255,255,255,0.5);
//     position: absolute;
//     z-index: 999;
//     margin: 0; padding:0; border:0;
//     right: 0; left: 0; top: 0; bottom: 0;
   
// }

// div.popup_container#popupExport {
//     z-index: 9999;
//     position: absolute;
//     margin: 0; padding:0; border:0;
//     right: 0; left: 50%; top: 50%; bottom: 0;
//     @include translate(-50%, -50%);
//     width: 70%;
//     max-width: 700px;
//     @include box-shadow($shadow0);
//     height: 300px;
//     background-color: rgba(255,255,255,0.90);
//     border: 1px solid rgba(0,0,0,0.75);
//     @include flex(column nowrap, center, center);

//     #downloading {
//         stroke:$primaryColor;
//         fill: $primaryColor;
//     }

//     .outer_circle {
//         fill: transparent;
//         stroke-width: 2;
//         stroke-dasharray: 500;
//     }

//     #downloading .outer_circle {
//         stroke-dashoffset: 0;
//         stroke: transparent;
//         &.active {
//             stroke: $primaryColor;
//             @include animation(show 2s linear 0s infinite);
//         }
//     }

//     @include keyframes(show) {
//         from { stroke-dashoffset: 500; }
//         to { stroke-dashoffset: 400; }
//     }
// }
