/*=============================================================
=            Feuille de style du site sans l'admin            =
=============================================================*/

/*----------  Import   ----------*/

@import 'compass/css3';

/*----------  Fonts  ----------*/

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(fonts/Material_icon.woff2) format('woff2');
}

@font-face {
    font-family: 'bariolbold_italic';
    src: url('fonts/bariol_bold_italic-webfont.eot');
    src: url('fonts/bariol_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bariol_bold_italic-webfont.woff2') format('woff2'),
         url('fonts/bariol_bold_italic-webfont.woff') format('woff'),
         url('fonts/bariol_bold_italic-webfont.ttf') format('truetype'),
         url('fonts/bariol_bold_italic-webfont.svg#bariolbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bariolbold';
    src: url('fonts/bariol_bold-webfont.eot');
    src: url('fonts/bariol_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bariol_bold-webfont.woff2') format('woff2'),
         url('fonts/bariol_bold-webfont.woff') format('woff'),
         url('fonts/bariol_bold-webfont.ttf') format('truetype'),
         url('fonts/bariol_bold-webfont.svg#bariolbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bariollight';
    src: url('fonts/bariol_light-webfont.eot');
    src: url('fonts/bariol_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bariol_light-webfont.woff2') format('woff2'),
         url('fonts/bariol_light-webfont.woff') format('woff'),
         url('fonts/bariol_light-webfont.ttf') format('truetype'),
         url('fonts/bariol_light-webfont.svg#bariollight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bariolregular';
    src: url('fonts/bariol_regular-webfont.eot');
    src: url('fonts/bariol_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bariol_regular-webfont.woff2') format('woff2'),
         url('fonts/bariol_regular-webfont.woff') format('woff'),
         url('fonts/bariol_regular-webfont.ttf') format('truetype'),
         url('fonts/bariol_regular-webfont.svg#bariolregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bariolitalic';
    src: url('fonts/bariol_thin_italic-webfont.eot');
    src: url('fonts/bariol_thin_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bariol_thin_italic-webfont.woff2') format('woff2'),
         url('fonts/bariol_thin_italic-webfont.woff') format('woff'),
         url('fonts/bariol_thin_italic-webfont.ttf') format('truetype'),
         url('fonts/bariol_thin_italic-webfont.svg#bariolitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*----------  Variable  ----------*/

$primaryColor: #0676B2; // Couleur primaire
$secondaryColor: #FF3B49; // Couleur secondaire
$tertiaryColor: #22B2FF; // Couleur tertiaire

$additionalColor: #FF9E22; // Couleur complémentaire

$primaryBackgroundColor: #FFFFFF; // Couleur de fond primaire
$secondaryBackgroundColor: #F0F0F0; // Couleur de fond secondaire

$primaryTextColor: #444; // Couleur de texte primaire

$colorBorder: rgba(0,0,0,0.2);

$primaryBorder: 1px solid $colorBorder;

$navHeight: 65px; // Hauteur de la navbar superieure
$sidebarNoActiveWidth: 80px; // Largeur de la sidebar non active
$sidebarActiveWidth: 150px; // Largeur de la sidebar active

// Force de l'ombre
$shadow0: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); 
$shadow1: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 
$shadow2: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$shadow3: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

/*----------  Mixins  ----------*/

// Flexibilisation
@mixin flex($flow, $justify, $align) {
    @include display-flex();
    @include flex-flow($flow);
    @include justify-content($justify);
    @include align-items($align);
}

// Image de fond
@mixin back($background, $attachment, $size, $position, $repeat) {
    background: $background;
    background-attachment: $attachment;
    background-size: $size;
    background-position: $position;
    background-repeat: $repeat;
}

// Visibilité
@mixin visible($boolean) {
    @if $boolean == false {
        visibility: hidden;
        @include opacity(0);
    }
    @if $boolean == true {
        visibility: visible;
        @include opacity(1);
    }
}

// Animation de la visibilité
@mixin animateVisibility($time) {
    @include single-transition(none, $time, ease, 0s);
    @include transition-property(visibility, opacity);
}

// Désactivation de la séléction
@mixin noselect(){
    -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
}

/*----------  Fonctions  ----------*/

// Création d'un rgba
@function rgbaExpress($color, $force) {
    $opacity: $force;
    @if $color == 'black' {
        $color: '0,0,0'
    }
    @if $color == 'white' {
        $color: '255,255,255'
    }
    $rgba: rgba($color, $force);
    @return $rgba;
}

/*----------  Classes  ----------*/

.row, .col { @include display-flex; }

.row { @include flex-direction(row); }
.col { @include flex-direction(column); }

.wrap { @include flex-wrap(wrap); }
.nowrap { @include flex-wrap(nowrap); }

.row-verti-center { @include align-items(center); }
.col-verti-center { @include justify-content(center); }

.row-hori-center { @include justify-content(center); }
.col-hori-center { @include align-items(center); }

.row-hori-between { @include justify-content(space-between); }
.col-hori-between { @include align-items(space-between); }

.row-verti-between { @include align-items(space-between); }
.col-verti-between { @include justify-content(space-between); }

.row-hori-around { @include justify-content(space-around); }
.col-hori-around { @include align-items(space-around); }

.row-verti-around { @include align-items(space-around); }
.col-verti-around { @include justify-content(space-around); }

.verhor-center { @include flex(row nowrap, center, center); }

.full-width { width: 100%; }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.fa { font-size: 22px; }

.button_default {
    color: #f0f0f0;
    @include border-radius(3px);
    @include box-shadow($shadow0);
    height: 40px;
    display: block;
    min-width: 180px;
    padding: 0 10px;
    font-size: 16px;
    font-family: 'bariolregular', 'Helvetica';
    position: relative;
    cursor:pointer;
    text-align: center;
    text-decoration: none;
    border: 0; margin: 0;
    outline:none;
    background-color: #000;
    @include opacity(0.9);
    @include appearance(none);
    @include single-transition(none, 0.3s, ease, 0s);
    @include transition-property(box-shadow, opacity);
    &.button_primary { background-color: $primaryColor; }
    &.button_secondary { background-color: $secondaryColor; }
    &:hover { @include box-shadow($shadow1); @include opacity(1); }
    margin: 10px 20px;
    i { @include inline-block(middle); font-size: 20px!important; position: relative; top: -1px; }
    &.button_href { line-height: 40px; }
}

.select-wrapper {
    position: relative;
    margin: 10px 20px;
    &::after {
        position: absolute;
        content: 'arrow_drop_down';
        font-family: 'Material Icons';
        color: #f0f0f0;
        top: 50%; right: 5px;
        @include translateY(-50%);
        font-weight: normal;
        font-size: 20px;
        @extend .material-icons;
    }
}

.select_default {
    @extend .button_default;
    padding: 10px;
    margin: 0;
    &::-ms-expand { display: none; }
    option { background-color: #fff; color: $primaryColor; cursor: pointer; }
}

.text_additional { color: $primaryTextColor; }

/*----------  Bases  ----------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }
html { line-height: 1; }
ol, ul { list-style: none; }
q, blockquote { quotes: none; }
strong { font-weight: bold; color: $primaryTextColor; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }
a img { border: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

html, body, input, textarea, button, p, * { font-family: 'bariolregular', 'Helvetica'; }

h1, h2, h3, h4, h5 { color: $primaryColor; }

h1 { font-size: 32px; margin: 10px 0; color: $primaryColor; line-height: 42px; font-family: 'bariolbold', 'Helvetica'; }

h2 { font-size: 26px; color: $primaryColor; line-height: 36px; font-family: 'bariolregular', 'Helvetica'; }

h3 { font-size: 21px; color: $primaryColor; line-height: 31px; font-family: 'bariolregular', 'Helvetica'; }

main { width: 100%; min-height: 100vh; }

p, input, span, a { font-size: 16px; outline: none; }

/*----------  Progress bar  ----------*/

.turbolinks-progress-bar {
  height: 5px;
  background-color: $primaryColor;
}

/*----------  Sidebar  ----------*/

aside.sidebar {
    position: fixed;
    top: 0; left: 0; bottom: 0;
    width: $sidebarNoActiveWidth;
    z-index: 999999;
    background-color: $primaryColor;
    @include flex(column wrap, flex-start, center);
    border-right: 1px solid adjust-lightness(#000, 80);
    @include single-transition(width, 0.3s, ease, 0s);
}

aside.sidebar > header {
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    @include box-sizing(border-box);
    background-color: $secondaryBackgroundColor;
    height: $navHeight;

    & > div#menu {
        height:20px;
        width: 28px;;
        cursor: pointer;
        position: relative;
        display: inline-block;

        &::after,
        &::before,
        span {
            position: absolute;
            background-color: $primaryTextColor;
            height: 4px;
            width: 100%;
            left: 0; right: 0;
            content: '';
            display: block;
            @include single-transition(none, 0.2s, ease, 0s);
            @include transition-property(left, opacity, top, margin-top, transform);

        }

        &::before { top: 0px; }  &::after { bottom: 0px; }

        span { top: 50%; margin-top: -2px; }

        &:hover { span { left: 5px; } }

        &.active {
            span { @include opacity(0); }
            &:after, &:before { top: 50%; margin-top: -2px;}
            &:after { @include rotate(45deg); }
            &:before { @include rotate(-45deg); }

            &:hover {
                &:after { @include rotate(0deg); }
                &:before { @include rotate(-0deg); } 
            }
        }
    }

    & > span.mymail {
        color: $primaryTextColor;
        font-size: 12px;
        @include visible(false);
        @include single-transition(none, 0.3s, ease, 0s);
        @include transition-property(opacity);
        display: block;
    }
}

aside.sidebar > div.link_container {
    width: 100%;
    @include flex(column nowrap, space-between, center);
    flex-grow: 1;

    & > div { 
        width: 100%;
        flex-grow: 0; 
        @include justify-content(space-between);
        text-align: center;
    }

    a {
        border-bottom: 1px solid rgbaExpress(white, 0.5);
        color: #f0f0f0;
        height: 7vh;
        width: 100%;
        position: relative;
        @include single-transition(none, 0.3s, ease-in-out, 0s);
        @include transition-property(background-color, width);

        &.admin { background-color: #1565C0; }

        p, i {
            position: absolute;
            margin:0;
            top: 50%;
            color: inherit;
            @include translateY(-50%);
            @include single-transition(none, 0.3s, ease, 0s);
            @include transition-property(right, transform, left);
        }

        i { right: 0; }
        p { left: -150px; }

        &.noactive {
            text-align: center;
            &:hover { 
                background-color: adjust-lightness($primaryColor, 10);
                width: 95px;
            }
            i { right: 50%; @include translate(50%, -50%); }

            &.active {
                background-color: adjust-lightness($primaryColor, 10);
                &:hover { width: $sidebarNoActiveWidth; background-color: adjust-lightness($primaryColor, 10)!important; }
            }
        }
    }
}

aside.sidebar.active {
    width: $sidebarActiveWidth;
    span.mymail { @include visible(true); }

    div.link_container { 
        a { 
            &::after {
                content: '';
                position: absolute;
                height: 100%;
                width:100%;
                text-align: center;
                @include scaleX(0);
                margin-left: -50%;
                top: 0; bottom: 0; left: 50%;
                @include opacity(0);
                z-index: -1;
                background-color: adjust-lightness($primaryColor, 10);
                @include single-transition(none, 0.5s, ease, 0s);
                @include transition-property(transform, opacity);
            }

            &:hover { &::after { @include scaleX(1); @include opacity(1); } }
            
            i { right: 10px; }
            p { left: 10px; }

            &:nth-child(1) p { @include transition-delay(0.1s); }
            &:nth-child(2) p { @include transition-delay(0.2s); }
            &:nth-child(3) p { @include transition-delay(0.3s); }
            &:nth-child(4) p { @include transition-delay(0.4s); }
            &:nth-child(5) p { @include transition-delay(0.5s); }

            &.active { &::after { @include scaleX(1); @include opacity(1.0); } }
        }
    }
    .others_links {
        a > i {
            right: 50%!important;
            @include translateX(50%);
        }
    }
}

nav.navigation.sidebar_opened,
div.large_container.sidebar_opened {
    width: calc(100% - #{$sidebarActiveWidth})!important;
    margin-left: $sidebarActiveWidth!important;
}

/*----------  Navigaton header  ----------*/

nav.navigation {
    width: calc(100% - #{$sidebarNoActiveWidth})!important;
    height: $navHeight;
    position: fixed;
    padding: 0 10px;
    @include box-sizing(border-box);
    top: 0; left: 0; right: 0;
    z-index: 99999;
    background-color: $secondaryBackgroundColor;
    margin-left: $sidebarNoActiveWidth!important;
    @include single-transition(none, 0.3s, ease, 0s);
    @include transition-property(width, margin-left);
    @include box-shadow($shadow0); 
    @include justify-content(space-between);
}

nav.navigation {
    a.logo { display: block; img { width: 170px; height: auto; } }

    form {
        position: relative;
        width: 34px; height: 34px;
        overflow: hidden;
        border-bottom: 2px solid transparent;
        line-height: 34px;
        @include single-transition(all, 0.3s, ease, 0s);

        span {
            width: 34px;
            height: 34px;
            line-height: 34px;
            display: block;
            text-align: center;

            i { @include inline-block(middle); margin-bottom: 2px; color: $primaryTextColor; }
        }

        input { 
            position: absolute; 
            left: 34px; 
            top: 50%;
            @include translateY(-50%);
            border:0;
            background: transparent;
            border-bottom: $primaryBorder;
            padding: 2px 0px;
            &:-webkit-autofill { -webkit-box-shadow: 0 0 0 1000px #f0f0f0 inset; }
        }

        &:hover, &.focus {  width: 200px; border-color: rgbaExpress(black, 0.2); }
    }
}

/*----------  Container  ----------*/

// Force l'espacement de X px de hauteur
div.novisible { height: $navHeight; width: 100%; @include visible(false); }

.large_container {
    width: calc(100% - #{$sidebarNoActiveWidth});
    margin-left: $sidebarNoActiveWidth;
    min-height: calc(100vh - #{$navHeight});
    @include single-transition(none, 0.3s, ease, 0s);
    @include transition-property(width, margin-left);

    section.section {
        width: 100%;
        min-height: inherit;

        div.container {
            position: relative;
            background-color: $primaryBackgroundColor;
            width: 100%;
            overflow: auto; 
            height: calc(100vh - #{$navHeight});
        }
    }
}

div.container {
    div.block {
        background-color: $primaryBackgroundColor;
        @include box-sizing(border-box);
        border-bottom: 1px solid $colorBorder;
        width: 100%;

        &.half_block { width: 50%; border-left: 1px solid rgba(0,0,0,0.1); }
        &.half_block:first-child { border-left: 0px; }
    }

    div.block > div.pannel {
        width: 100%;
        @include box-sizing(border-box);
        padding: 15px 50px;

        &.pannel_body { padding-top: 30px; padding-bottom: 30px; }
        &.pannel_heading { padding-top: 40px; padding-bottom: 40px; }

        &.pannel_legend p { font-size: 20px; text-align: center; }
    }
}

/*----------  Popup  ----------*/

.popup_mc {
    position: fixed;
    width: 100%;
    z-index: 99999999999;
    height: 100vh;
    top: 0; right: 0; bottom: 0; left: 0;
    overflow-y: auto;
    background-color: rgbaExpress(black, 0.75);
    @include visible(false);
    @include animateVisibility(0.5s);

    &.active { @include visible(true); }

    & > .popup_background {
        height: 100%;
        width: 100%;
        z-index: 0;
    }

    & > .popup_container {
        background: #f0f0f0;
        position: absolute;
        @include translate(-50%, -50%);
        width: 80%;
        max-width: 650px;
        top: 50%; left: 50%;
        height: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

div.popup_mc > div.popup_container {
    & > header,
    & > form { width: 100%; }

    & > header { 
        background: $primaryColor;
        height: 130px; 

        h1 {
            color: #fff;
            margin: 0; padding: 0;
            text-align: center;
            line-height: 130px;
            font-size: 28px;
            text-transform: uppercase;
        }
    }

    & > form { background-color: #fff;

        div.field {
            @include flex(row nowrap, flex-start, center);
            width: 100%;
            padding: 24px 20px;
            border-bottom: $primaryBorder;
            @include box-sizing(border-box);

            .aside {
                width: 50%;
                height: 100%;
                @include flex(row wrap, center, center);
                text-align: left;

                label, p { width: 100%; }

                &.overside p { text-align: center; }

                &.oneside p, &.oneside label { margin:0; }
            }
        }

        p, label, input, textarea {
            color: $primaryTextColor;
            font-size: 16px;
            margin: 0; border: 0;
            @include box-sizing(border-box);
            position: relative;
            &:-webkit-autofill { -webkit-box-shadow: 0 0 0 1000px #fff inset; }
        }

        input, textarea {
            outline: 0;
            width: 100%;
            border-bottom: 1px solid #999999;
            padding: 12px 0px;
            font-size: 16px;
            resize: none;
            background-color: transparent;

            &:focus, &:valid { color: #444; }
        }

        textarea {
            &::-webkit-scrollbar { width: 9px; }
            &::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); @include border-radius(50px); }
            &::-webkit-scrollbar-thumb { border-radius: 50px; background: adjust-lightness(#444, 40); }
        }
    }
}

/*----------  Alerte  ----------*/

div.alert {
    position: fixed;
    min-width: 150px;
    height: 50px;
    background: $primaryColor;
    color: #fff;
    z-index: 99999999;
    border: 1px solid #fff;
    right: 50px; bottom: -50px;
    @include box-shadow($shadow0);
    @include border-radius(3px);

    p { text-align: center; line-height: 50px; padding: 0 20px;}
}

/*----------  Tableur  ----------*/

.container_to_table {
    width: 100%;
    min-height: 250px;

    table {
        margin-bottom: 20px;
        border-collapse: collapse;
        border-spacing: 0;
        display: table;
        width: 100%;
        
        & > caption {
            text-align: right;
            font-size: 20px;
            padding: 15px 0px;
            margin: 0 10px 10px 0;
        }
        & > thead, & > tbody { vertical-align: middle; }
        & > thead { display: table-header-group; }
        & > tbody { display: table-row-group; }
    }
}


.container_to_table > table > thead > tr {
    display: table-row;
    vertical-align: inherit;

    th {
        border-bottom: 2px solid #ddd;
        padding: 8px 12px;
        line-height: 1.42857143;
        text-align: left;
        display: table-cell;
        font-size: 17px;
    }
}

.container_to_table > table > tbody > tr {
    width: 100%;
    @include opacity(0.9);
    vertical-align: middle;

    td {
        padding: 18px 12px;
        color: #444;
        border-top: 1px solid #ddd;
    }

    &:hover { background: #f5f5f5; @include opacity(1); }
}

/*----------  Dashboard  ----------*/

div.container_dashboard { overflow-y: scroll!important;

    .sm_square {
        border: $primaryBorder;
        width: 300px;
        height: 120px;
        position: relative;
        @include border-radius(3px);
        @include single-transition(box-shadow, 0.3s, ease, 0s);
        @include box-shadow($shadow0);
        &:hover {  @include box-shadow($shadow1); }

        div.square_body {
            height: 80px;
            width: 100%;
            padding: 15px;
            @include box-sizing(border-box);
            background-color: $primaryColor;

            & > div.square_ico {
                width: 50%;
                height: 100%;
                
                i { font-size: 40px; color: #fff; }
            }

            & > div.square_name {
                @include align-items(flex-end);
                color: #fff;

                span {
                    display: block;
                    font-size: 26px;
                    font-weight: 600;
                    color: inherit;
                    text-transform: uppercase;
                }

                p { text-align: right; font-size: 15px; color: inherit; }
            }
        }

        footer.square_footer {
            height: 40px;
            padding: 15px;
            @include box-sizing(border-box);
            background-color: #fff;
            color: $primaryColor;
            cursor: pointer; 
            & > p { font-weight: 500; }
        
            &:hover {
                & > i { @include animation(movingOnLine 1s ease-in-out 0s infinite); 
                    @include keyframes(movingOnLine) {
                        0%, 100% {
                            @include translateX(0px);
                            color: inherit;
                        }

                        50% {
                            @include translateX(5px);
                            color: #fff;
                        }
                    }
                }
            }
        }

        &:first-child {
            div.square_body {  background-color: $primaryColor; }
            footer.square_footer { color: $primaryColor; }
        }

        &:nth-child(2) {
            div.square_body {  background-color: $secondaryColor; }
            footer.square_footer { color: $secondaryColor; }
        }

        &:nth-child(3) {
            div.square_body {  background-color: $additionalColor; }
            footer.square_footer { color: $additionalColor; }
        }
    }

    div.emails_list {
        h2 { text-align: left; color: $primaryTextColor; }
    }

    a.email_block {
        width: 184px;
        margin: 0 20px 0 0;
        border: $primaryBorder;
        height: 184px;
        cursor: pointer;
        @include box-sizing(border-box);
        @include single-transition(box-shadow, 0.3s, ease, 0s);
        @include box-shadow($shadow0);
        &:hover {  @include box-shadow($shadow1); }
        background-attachment: scroll!important;
        background-size: 100% auto!important;
        background-position: center!important;
        background-repeat: no-repeat!important;
        text-decoration: none;

        img { height: 100%; width: 100%; }

        &:last-child {
            width: 364px;
            height: 92px;
            border: 0;
            @include box-shadow(none);
            p { font-size: 25px; font-weight: 600; color: $primaryColor; }
        }
    }
}

/*----------  Templates  ----------*/

div.container_template { overflow-y: scroll!important;
    div.list_template {
        padding-top: 0!important;
        padding-bottom: 0!important;

        & > ul { width: 100%;

            & > li { height: 170px; padding: 15px 0; &:not(:last-child) { border-bottom: $primaryBorder; } }
            li > div { height: 100%; }

            li div.col_template_thumbs { margin-right: 15px; img { display: block; } }
            li div.col_template_descr  {
                & > p {
                    span {
                        word-break: keep-all!important;
                        height: 22px;
                        overflow: hidden;
                        font-size: 21px;
                        color: $secondaryColor;
                        font-family: 'bariolbold', 'Helvetica';
                        @include inline-block(middle);
                    }

                    i {
                        @include noselect();
                        @include inline-block(middle);
                        font-size: 20px;
                        color: $primaryTextColor;
                        cursor: pointer; 
                    }
                }

                & > div.info_template {
                    padding: 15px 0;

                    p { line-height: 23px; }
                    i { @include inline-block(middle); color: $primaryTextColor; }
                }
            }

            li div.row_actions_template {
                button { height: 30px; font-size: 15px; min-width: auto; margin: 0 0 10px 0; }
                button:last-child { min-width: 40px; margin-left:0; i { margin-top: 3px; font-size: 21px; } }
            }

            div.popup_action_template {
                @include opacity(0.9);
                width: 185px;
                height: 0px;
                @include single-transition(height, 0.3s, ease, 0s);
                background-color: adjust-lightness($secondaryColor, 5);
                @include border-radius(3px);
                @include box-shadow($shadow0);

                ul { height: 100%; @include visible(false); }

                ul li {
                    cursor: pointer;
                    color: #fff;
                    width: 100%;
                    font-size: 15px;
                    padding: 10px 10px;
                    @include box-sizing(border-box);
                    &:not(:last-child) { border-bottom: $primaryBorder; border-color: #fff; }
                    &:hover { background-color: adjust-lightness($secondaryColor, 8); }
                }
            }
        }
    }
}

/*----------  Profil  ----------*/

div.container_profil { overflow-y: scroll!important;

    div.popup_mc#profilRenewal footer { height: 120px; }

    div.settings_menu {
        position: relative;
        padding-top: 0!important;
        padding-bottom: 0!important;

        div.link_block {
            width: 33%;
            text-align: center;
            height: 72px;
            position: relative;
            
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                max-width: 300px;
                width: 70%;
                background-color: transparent;
                height: 2px;
                @include transform(translateX(-50%) scaleX(0));
                @include single-transition(none, 0.3s, ease, 0s);
                @include transition-property(transform, background-color);
            }

            &.active { 
                &::after { background-color: $secondaryColor; @include transform(translateX(-50%) scaleX(1)); }
                & > a { color: $secondaryColor; }
            }
        }

        a {
            font-size: 20px;
            color: $primaryTextColor;
            text-align: center;
            text-decoration: none;
            padding: 10px;
            @include single-transition(color, 0.3s, ease, 0s);
            font-weight: 600;
            height: 100%;
            line-height: 72px;
        }
    }
    
    div.block > .pannel_title + div.pannel_body { padding-top: 0!important; padding-bottom: 0!important; }

    h2 { color: $primaryTextColor; text-align: center; }
    p.legend { 
        text-align: center; 
        width: 100%;
        & > button {
            padding: 8px 13px;
            border: 2px solid $primaryColor;
            background-color: #fff;
            color: $primaryColor;
            font-weight: 700;
            margin: 15px auto;
            font-size: 16px;
            display: block;
            cursor: pointer;
            @include border-radius(3px);
            @include single-transition(none, 0.3s, ease, 0s);
            @include transition-property(color, background-color);

            &:hover {
                background-color: $primaryColor;
                color: #fff;
            }
        }
    }

    div.bg_field {
        padding: 10px 15px;
        width: 100%;
        @include box-sizing(border-box);
        position: relative;
        min-height: 100px;

        &::after, &::before {
            position: absolute;
            width: 100%;
            height: 2px;
            content: '';
            top: 0; left: 0;
            background-color: rgbaExpress(black, 0.1);
            @include single-transition(width, 0.3s, ease, 0s);
        }

        &::before { width: 0%; background-color: $primaryColor; }

        &.active { &::before { width: 100%; } }

        & > div:first-child {
            & > span { font-weight: 600; color: #000; font-size: 19px; }
            & > p { color: $primaryTextColor; }
        }

        & > div:last-child {
            @include align-items(flex-end);
            & > button { 
                height: 30px!important; 
                min-width: auto!important;
                font-size: 15px!important;
            }
        }
    }

    div.info_accordeon {
        height: 0px;
        overflow: hidden;
        @include visible(false);
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 0;
        padding-bottom: 0;
        border:0;
        @include single-transition(none, 0.3s, ease-out, 0s);
        @include transition-property(padding-top, padding-bottom, height, visibility, opacity);
        @include box-sizing(border-box);

        &.active {
            padding-top: 10px;
            padding-bottom: 10px;
            @include visible(true);
        }

        .sm_field { width: 70%; margin-bottom: 10px; }

        .sm_field a { color: $primaryColor; font-size: 17px; }

        ul.sm_field > li {
            @include single-transition(height, 0.5s, ease, 0.3s);
            height: 50px;
            overflow: hidden;
            line-height: 50px;
            border-top: 1px solid rgbaExpress(black, 0.085);
            & > p { padding: 0 5px; }
            & > p > input {
                border: 0;
                margin-right: 5px;
                border-bottom: 1px solid rgbaExpress(black, 0.05);
                font-style: italic;
                color: $primaryTextColor;
            }
            & > p > strong > a { 
                text-decoration: none;
                @include animateVisibility(0.3s);
                @include transition-delay(0.2s);
                @include visible(true);
                &.desactivate { @include visible(false); }
            }
        }
    }

    div.row_cards { @include align-items(flex-start); }

    div.card_block {
        width: 300px;
        @include box-shadow($shadow3);
        @include border-radius(3px);
        margin: 25px 0;
        position: relative;
        margin-right: 10px;

        & > span.subactual {
            position: absolute;
            display: block;
            top: 0; left: 0;
            padding: 10px;
            background-color: #8BC34A;
            border-bottom: 2px solid #fff;
            border-right: 2px solid #fff;
            color: rgbaExpress(white, 0.85);
            font-size: 13px;
            font-weight: 600;
        }
        
        & > header.card_heading {
            height: 200px;
            @include border-top-radius(3px);
            color: #fff;

            & > span {
                text-align: center;
                display: block;
                width: 100%;

                &.card_price { 
                    font-size: 60px; 
                    font-weight: 600; 
                    margin-bottom: 15px; 

                    & > sub { font-size: 20px; font-weight: normal; padding-left: 5px; }
                }
               
                &.card_name { font-size: 15px; font-weight: 700; }
            }
        }

        & > div.card_body {
            & > ul > li {
                text-align: center;
                padding: 22px 10px;
                width: 80%;
                margin: 0 auto;
                border-bottom: $primaryBorder; 
                color: rgb(138, 138, 138);
            }
        }

        & > footer.card_footer {
            width: 100%;
            padding: 20px 0;
            @extend .verhor-center;
        }

        &:first-child { .card_heading, button { background-color: $primaryColor; } }
        &:nth-child(2) { .card_heading, button { background-color: $secondaryColor; } }
        &:nth-child(3) { .card_heading, button { background-color: $additionalColor; } }
    }

    table.table_fac th { width: 24%; &:last-child { width: 4%; } }
    table.table_fac tbody td:last-child { text-align: center; }
    table.table_fac i { cursor: pointer; @include noselect(); color: #BE0804; }

    .checkbonito{ display: none; }
    .checkbonito ~ label{
        display: inline-block;
        max-width: 30px;
        background-color: #f0f0f0;
        padding: 10px 25px;
        @include border-radius(50px);
        cursor: pointer;
        @include single-transition(all, 200ms, ease-in-out, 0s);
        margin: 5px;
        @include noselect();
    }
    .checkbonito:checked ~ label{
        background-color: adjust-lightness($primaryColor, 12);
    }
    .checkbonito ~ label::before{
        content: "";
        background-color: white;
        padding: 13px;
        position: absolute;
        cursor: pointer;
        display: block;
        @include translate(-30px, -13px);
        @include border-radius(50px);
        @include single-transition(all, 200ms, ease-in-out, 0s);
        @include box-shadow(1px 1px 5px .5px rgbaExpress(black, 0.5));
    }
    .checkbonito:checked ~ label::before{
      @include translate(5px, -13px);
      background-color: $primaryColor;
    }
}

/*----------  Emails  ----------*/

.container_emails { overflow-x: hidden!important; overflow-y: scroll!important;

    .pannel_title {
        span {
            word-break: keep-all!important;
            height: 22px;
            overflow: hidden;
            font-size: 21px;
            color: $secondaryColor;
            padding-right: 8px;
            font-family: 'bariolbold', 'Helvetica';
            @include inline-block(middle);
        }

        i {
            padding-right: 3px;
            @include noselect();
            @include inline-block(middle);
            font-size: 20px;
            color: $primaryTextColor;
            cursor: pointer; 
        }
    }

    .emails_list { padding: 15px 0; overflow-x: hidden; height: 150px; }

    .email {
        background-attachment: scroll!important;
        background-size: 100% auto!important;
        background-position: center!important;
        background-repeat: no-repeat!important;
    }

    .email, .sortable_placeholder_email_list  {
        width: 150px;
        min-width: 150px;
        height: 150px;
        position: relative;
        @include box-shadow($shadow0);
        margin-right: 15px;
        @include box-sizing(border-box);
        border: $primaryBorder;
        cursor: move;
        @include single-transition(box-shadow, 0.3s, ease, 0s);
        &:hover { @include box-shadow($shadow1); }

        &.ui-sortable-helper { @include noselect(); }

        div.toolbox_email {
            position: absolute;
            top: 0; bottom: 0; left: 0; right: 0;
            @include visible(false);
            @include animateVisibility(0.3s);
            background-color: rgba(6, 118, 178, 0.7);
            height: 100%;
            width: 100%;
            &.active { @include visible(true); }
            i { 
                text-align: center;
                font-size: 21px;
                display: block;
                margin: 0 7px;
                cursor: pointer;
                height: 30px;
                line-height: 30px;
                @include box-sizing(border-box);
                color: #fff;
                @include opacity(1);
                @include single-transition(opacity, 0.3s, ease, 0s);
                &:hover { @include opacity(0.8); }
            }
        }
    }

    .sortable_placeholder_email_list { background-color: #f0f0f0; }

    div.add_section {
        background-color: $secondaryColor;
        height: 70px;
        @include box-shadow($shadow0);
        @include border-radius(3px);

        .flipper { 
            width: 100%; 
            height: 100%; 
            position: relative;
            @include transform-style(preserve-3d);
            @include single-transition(transform, 0.5s, ease, 0s);

            &.active { @include rotateX(-180deg); }
        }

        .flipper_front, .flipper_back {
            @include backface-visibility(hidden);
            position: absolute;
            top: 0; bottom: 0;
            left: 0; right: 0;
        }

        .flipper_front {
            cursor: pointer;
            width: 100%; 
            height: inherit;
            & > p { 
                font-size: 22px;
                font-weight: 600;
                color: #fff;
                @include noselect();
            }
        }

        .flipper_back {
            @include rotateX(180deg, 0);

            & > span {
                position: absolute;
                top: 10px;
                right: 10px;
                color: #fff;
                @include noselect();
                cursor: pointer;
            }

            & > form {

                & > input {
                    background-color: transparent;
                    border:0;
                    text-align: center;
                    color: #fff;

                    &::-webkit-input-placeholder {
                        color:  rgbaExpress(white, 0.75);
                        @include opacity(0.8);
                    } &:-moz-placeholder {
                        color:  rgbaExpress(white, 0.75);
                        @include opacity(0.8);
                    } &::-moz-placeholder {
                        color:  rgbaExpress(white, 0.75);
                        @include opacity(0.8);
                    } &:-ms-input-placeholder {
                        color:  rgbaExpress(white, 0.75);
                        @include opacity(0.8);
                    } &::-ms-input-placeholder   {
                        color:  rgbaExpress(white, 0.75);
                        @include opacity(0.8);
                    }
                }

                & > button {
                    height: 22px;
                    background-color: #fff;
                    color: $secondaryColor;
                    min-width: 80px;
                    font-weight: 600;
                    text-transform: uppercase;
                    margin-bottom: 0;
                    font-size: 14px;
                }
            }
        }
    }

    div.popup_mc > div.popup_container {

        div.content_block {
            text-align: center;
            height: 100px;
        }

        footer > span {
            color: $primaryTextColor;
            text-decoration: underline;
            padding: 10px;
            cursor: pointer;
        }
    }
}

/*----------  Archives  ----------*/

div.container_archives {

    div.full_block:last-child { border-bottom-color: transparent; }

    div.line_btn_archives button {
        margin-left: 0;
        &:last-child { margin-right: 0; }
        background-color: #757575!important;
        cursor: not-allowed;
        &.action { min-width: auto; } 
        &.active { background-color: $secondaryColor!important; cursor: pointer; }
    }

    ul.row {
        @include justify-content(flex-start);
        @include align-content(flex-start);
    }

    .archive {
        width: 150px;
        min-width: 150px;
        height: 150px;
        overflow: hidden;
        position: relative;
        margin-right: 10px;
        @include box-shadow($shadow0);
        margin-bottom: 30px;
        cursor: pointer;
        @include noselect();
        @include box-sizing(border-box);
        border: $primaryBorder;
        @include opacity(0.7);
        background-attachment: scroll!important;
        background-size: 100% auto!important;
        background-position: center!important;
        background-repeat: no-repeat!important;
        @include single-transition(none, 0.3s, ease, 0s);
        @include transition-property(box-shadow, opacity);
        &:hover { @include box-shadow($shadow1); }

        span {
            position: absolute;
            display: block;
            width: 14px;
            height: 14px;
            background-color: transparent;
            border: 2px solid #fff;
            right: 8px;
            top: 7px;
            cursor: pointer;
            @include opacity(0.8);
            &:hover { @include opacity(1); }
            @include single-transition(opacity, 0.3s, ease, 0s);
            @include border-radius(50%);
        }

        &.active { @include opacity(1);
            span {
                background-color: $primaryColor;
            } 
        }
    }
}

/*----------  Orders  ----------*/

div.container_orders {
    
    .statut {
        display: inline;
        padding: .2em .6em .3em;
        font-size: 75%;
        font-weight: 600;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
        text-transform: uppercase;
    
        &.statut0 { background-color: #777; }
        &.statut1 { background-color: #f0ad4e; }
        &.statut2 { background-color: #009688; }
        &.statut3 { background-color: #5cb85c; }
    }

    div#orderPopup {
        div.popup_container footer {
            min-height: 80px;

            p { padding: 10px; }
        }
    }
}
