/*===================================================
=            Feuille de style du builder            =
===================================================*/
/*----------  New variable  ----------*/
/*----------  Import   ----------*/
/*----------  Variable  ----------*/
/*----------  Mixins  ----------*/
/*----------  Fonctions  ----------*/
div.container_builder {
  overflow: hidden !important;
}
div.container_builder div.container_left, div.container_builder div.container_right {
  height: calc(100vh - 65px - 1px);
}
div.container_builder div.container_left {
  width: 70%;
}
div.container_builder div.container_right {
  width: calc(30% - 1px);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
div.container_builder header.header_builder {
  height: 60px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/*----------  Partie Gauche du builder  ----------*/
header.header_builder_left {
  padding: 15px 30px;
}
header.header_builder_left input#documentTitle {
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  color: #444;
  width: 200px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
header.header_builder_left input#documentTitle:focus {
  color: #000;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
header.header_builder_left span.btn_Test_template {
  font-size: 15px;
  color: #f0f0f0;
  padding: 4px 8px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
  -moz-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  -webkit-transition: opacity 0.3s ease;
  -webkit-transition-delay: 0s;
  transition: opacity 0.3s ease 0s;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
header.header_builder_left span.btn_Test_template:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
header.header_builder_left span.btn_Test_template i {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 21px;
}
header.header_builder_left span.btn_Test_template span {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
header.header_builder_left span.btn_Test_template#valideTemplate {
  background-color: #4CAF50;
}
header.header_builder_left span.btn_Test_template#cancelTemplate {
  background-color: #F44336;
}
header.header_builder_left span.icon-action, header.header_builder_left button {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
  text-align: right;
  padding-left: 15px;
  outline: none;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: #444;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -moz-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  -webkit-transition: opacity 0.3s ease;
  -webkit-transition-delay: 0s;
  transition: opacity 0.3s ease 0s;
}
header.header_builder_left span.icon-action:hover, header.header_builder_left button:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
header.header_builder_left span.icon-action.active, header.header_builder_left button.active {
  color: #1565C0;
}
header.header_builder_left div.minicolors {
  width: 17px;
  height: 17px;
  top: -1px;
  -moz-transition: width 0.4s ease 0s;
  -o-transition: width 0.4s ease 0s;
  -webkit-transition: width 0.4s ease;
  -webkit-transition-delay: 0s;
  transition: width 0.4s ease 0s;
}
header.header_builder_left div.minicolors input {
  border: 0;
  margin: 0;
  padding: 0;
  top: -1px;
  right: 0;
  outline: none;
  text-transform: uppercase;
  position: absolute;
  width: 70px;
  -moz-transition: opacity 0.3s ease 0.4s;
  -o-transition: opacity 0.3s ease 0.4s;
  -webkit-transition: opacity 0.3s ease;
  -webkit-transition-delay: 0.4s;
  transition: opacity 0.3s ease 0.4s;
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
header.header_builder_left div.minicolors .minicolors-swatch {
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  height: 100%;
  width: 17px;
}
header.header_builder_left div.minicolors .minicolors-panel {
  top: 17px;
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: none 0.3s ease 0s;
  -o-transition: none 0.3s ease 0s;
  -webkit-transition: none 0.3s ease;
  -webkit-transition-delay: 0s;
  transition: none 0.3s ease 0s;
  -moz-transition-property: visibility, opacity;
  -o-transition-property: visibility, opacity;
  -webkit-transition-property: visibility, opacity;
  transition-property: visibility, opacity;
}
header.header_builder_left div.minicolors:hover {
  width: 95px;
}
header.header_builder_left div.minicolors:hover input {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
header.header_builder_left div.minicolors:hover .minicolors-panel {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  display: block;
}

div.content_email {
  height: calc(100% - 60px);
  width: 100%;
  position: relative;
  margin: 0 auto;
}
div.content_email > div#storage_email {
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px 0;
  width: auto;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: scroll;
  max-width: 100%;
}
div.content_email > div#storage_email > .sortable-placeholder {
  border: 1px dotted #444;
  border-right: 0;
  border-left: 0;
  width: 100% !important;
  background-color: #f3f3f3;
}
div.content_email > div#storage_email > table[data-section], div.content_email > div#storage_email table[data-section] * {
  -moz-transition: width 0.5s ease 0s;
  -o-transition: width 0.5s ease 0s;
  -webkit-transition: width 0.5s ease;
  -webkit-transition-delay: 0s;
  transition: width 0.5s ease 0s;
}
div.content_email > div#storage_email > table[data-section] a, div.content_email > div#storage_email table[data-section] * a {
  cursor: default;
}
div.content_email > div#storage_email > table[data-section] .active, div.content_email > div#storage_email table[data-section] * .active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
div.content_email > div#storage_email > table[data-section] .noactive, div.content_email > div#storage_email table[data-section] * .noactive {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}
div.content_email > div#storage_email table[data-content] {
  position: relative;
}
div.content_email > div#storage_email > table[data-mobile] {
  width: 500px !important;
}
div.content_email > div#storage_email td[data-text], div.content_email > div#storage_email img[data-img], div.content_email > div#storage_email td[data-spacer], div.content_email > div#storage_email a[data-cta] {
  -moz-transition: opacity 0.2s ease 0s;
  -o-transition: opacity 0.2s ease 0s;
  -webkit-transition: opacity 0.2s ease;
  -webkit-transition-delay: 0s;
  transition: opacity 0.2s ease 0s;
}
div.content_email > div#storage_email a[data-cta] {
  cursor: text !important;
}
div.content_email > div#storage_email table, div.content_email > div#storage_email td {
  outline: none;
  word-break: break-all;
}

div.medium-editor-toolbar {
  animation-duration: 500ms !important;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
div.medium-editor-toolbar.medium-toolbar-arrow-under::after {
  border-color: #0676B2;
  border-width: 4px 10px 0px;
  margin-left: -10px;
  bottom: -3px;
}
div.medium-editor-toolbar ul.medium-editor-toolbar-actions {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
div.medium-editor-toolbar ul.medium-editor-toolbar-actions li {
  border: 0;
  padding: 0px;
  background-color: #fff;
  color: #444;
}
div.medium-editor-toolbar ul.medium-editor-toolbar-actions li > button.medium-editor-action {
  border: 0;
  width: 37px;
  height: 37px;
  padding: 0;
  margin: 0;
  background-color: #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -moz-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  -webkit-transition: background-color 0.3s ease;
  -webkit-transition-delay: 0s;
  transition: background-color 0.3s ease 0s;
}
div.medium-editor-toolbar ul.medium-editor-toolbar-actions li > button.medium-editor-action i {
  vertical-align: middle;
  font-size: 19px;
}
div.medium-editor-toolbar ul.medium-editor-toolbar-actions li > button.medium-editor-action:not(.medium-editor-button-first) {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}
div.medium-editor-toolbar ul.medium-editor-toolbar-actions li > button.medium-editor-action:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
div.medium-editor-toolbar ul.medium-editor-toolbar-actions li > button.medium-editor-action.medium-editor-button-active {
  background-color: #0786cb;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  color: rgba(255, 255, 255, 0.85);
}
div.medium-editor-toolbar div.medium-editor-toolbar-form {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
div.medium-editor-toolbar div.medium-editor-toolbar-form.medium-editor-toolbar-form-active {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
}
div.medium-editor-toolbar div.medium-editor-toolbar-form input {
  background-color: transparent;
  width: 200px;
}
div.medium-editor-toolbar div.medium-editor-toolbar-form a {
  height: 100%;
  margin: 0 7px;
  display: -webkit-flex;
  display: flex;
}
div.medium-editor-toolbar div.medium-editor-toolbar-form a i {
  margin: auto;
  color: #0786cb;
  font-size: 20px;
}
div.medium-editor-toolbar div.medium-editor-toolbar-form a i:hover {
  color: #0676B2;
}

div.medium-editor-anchor-preview {
  margin-top: -10px;
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #fff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
div.medium-editor-anchor-preview a {
  color: #0676B2;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  text-decoration: underline;
  font-size: 12px;
  margin: 0;
  padding: 2px 12px;
}

div.tools_section {
  width: 35px;
  height: 100px;
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  left: 0;
  top: 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
div.tools_section span {
  position: relative;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  color: #444;
  font-size: 18px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  cursor: pointer;
  -moz-transition: none 0.1s ease 0s;
  -o-transition: none 0.1s ease 0s;
  -webkit-transition: none 0.1s ease;
  -webkit-transition-delay: 0s;
  transition: none 0.1s ease 0s;
  -moz-transition-property: opacity, color;
  -o-transition-property: opacity, color;
  -webkit-transition-property: opacity, color;
  transition-property: opacity, color;
}
div.tools_section span:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
div.tools_section span i {
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-left: 1px;
  color: inherit;
  font-size: inherit;
}
div.tools_section span:first-child {
  cursor: move;
}
div.tools_section span:last-child {
  border: 0;
}

/*----------  Partie Droite du builder  ----------*/
header.header_builder_right {
  border-bottom: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
header.header_builder_right span {
  width: calc(100% / 2);
  display: block;
  background-color: #0676B2;
  color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-align: center;
  height: calc(60px - 1px);
  line-height: 60px;
  text-transform: uppercase;
  cursor: pointer;
  -moz-transition: none 0.3s ease 0s;
  -o-transition: none 0.3s ease 0s;
  -webkit-transition: none 0.3s ease;
  -webkit-transition-delay: 0s;
  transition: none 0.3s ease 0s;
  -moz-transition-property: color, background-color;
  -o-transition-property: color, background-color;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
header.header_builder_right span.active {
  background-color: #fff;
  color: #444;
  border-bottom-width: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

div.content_sidebar {
  height: calc(100% - 60px);
  width: 100%;
  background-color: #fff;
}
div.content_sidebar div.task_sidebar {
  width: 100%;
  overflow-y: scroll;
  height: 100%;
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: none 0.3s ease 0s;
  -o-transition: none 0.3s ease 0s;
  -webkit-transition: none 0.3s ease;
  -webkit-transition-delay: 0s;
  transition: none 0.3s ease 0s;
  -moz-transition-property: visibility, opacity;
  -o-transition-property: visibility, opacity;
  -webkit-transition-property: visibility, opacity;
  transition-property: visibility, opacity;
  display: none;
  position: relative;
}
div.content_sidebar div.task_sidebar.active {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  display: block;
}
div.content_sidebar div.task_sidebar.notask {
  overflow: hidden;
}
div.content_sidebar div.task_sidebar.notask > div {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
div.content_sidebar div.task_sidebar.notask > div svg {
  height: 120px;
  width: 120px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
div.content_sidebar div.task_sidebar.notask > div p {
  padding: 20px 15px;
  font-weight: 600;
  line-height: 1.2em;
  color: #444;
  text-align: center;
  font-style: italic;
}

/*----------  Items  ----------*/
div.field_item_sidebar {
  width: 100%;
  padding: 10px 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
div.field_item_sidebar > div {
  width: 100%;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
div.field_item_sidebar label {
  margin: 8px 0;
  width: 100%;
  font-weight: 600;
  color: #333333;
}
div.field_item_sidebar label > span.unity {
  color: #616161;
  font-style: italic;
  font-size: 12px;
}
div.field_item_sidebar div.minicolors::after, div.field_item_sidebar select, div.field_item_sidebar input, div.field_item_sidebar option {
  font-size: 14px !important;
  padding: 5px;
}
div.field_item_sidebar span.ui-button-icon {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  margin: 0;
  text-indent: 0;
}
div.field_item_sidebar span.ui-button-icon i {
  position: absolute;
  color: #444;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 14px;
}
div.field_item_sidebar .item, div.field_item_sidebar select, div.field_item_sidebar input:not(.change_number) {
  height: 29px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  position: relative;
}
div.field_item_sidebar .item:not(p), div.field_item_sidebar select:not(p), div.field_item_sidebar input:not(.change_number):not(p) {
  width: 100%;
}
div.field_item_sidebar .item::-webkit-input-placeholder, div.field_item_sidebar select::-webkit-input-placeholder, div.field_item_sidebar input:not(.change_number)::-webkit-input-placeholder {
  color: #444;
  font-size: 14px !important;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
div.field_item_sidebar .item:-moz-placeholder, div.field_item_sidebar select:-moz-placeholder, div.field_item_sidebar input:not(.change_number):-moz-placeholder {
  color: #444;
  font-size: 14px !important;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
div.field_item_sidebar .item::-moz-placeholder, div.field_item_sidebar select::-moz-placeholder, div.field_item_sidebar input:not(.change_number)::-moz-placeholder {
  color: #444;
  font-size: 14px !important;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
div.field_item_sidebar .item:-ms-input-placeholder, div.field_item_sidebar select:-ms-input-placeholder, div.field_item_sidebar input:not(.change_number):-ms-input-placeholder {
  color: #444;
  font-size: 14px !important;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
div.field_item_sidebar .item::-ms-input-placeholder, div.field_item_sidebar select::-ms-input-placeholder, div.field_item_sidebar input:not(.change_number)::-ms-input-placeholder {
  color: #444;
  font-size: 14px !important;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
div.field_item_sidebar#background-color div.minicolors, div.field_item_sidebar#color div.minicolors {
  padding: 5px;
  height: 100%;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
div.field_item_sidebar#background-color div.minicolors::after, div.field_item_sidebar#color div.minicolors::after {
  content: 'Selectionner une couleur';
  position: absolute;
  padding: 0 !important;
  top: 0;
  bottom: 0;
  line-height: 29px;
  width: calc(100% - 33px);
  background-color: #fff;
  right: 0;
  height: 100%;
}
div.field_item_sidebar#background-color div.minicolors_before.active::after, div.field_item_sidebar#color div.minicolors_before.active::after {
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
div.field_item_sidebar#background-color input.minicolors-input, div.field_item_sidebar#color input.minicolors-input {
  width: calc(100% - 33px);
  text-transform: uppercase;
  border: 0;
  padding: 0;
  margin: 0;
  outline: none;
  height: 100%;
  top: 0;
  z-index: 0;
  background-color: transparent;
  position: absolute;
  right: 0;
}
div.field_item_sidebar#background-color span.minicolors-swatch, div.field_item_sidebar#color span.minicolors-swatch {
  top: 50%;
  left: 5px;
  width: 18px;
  z-index: 999;
  height: 18px;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
div.field_item_sidebar#background-color div.minicolors-panel, div.field_item_sidebar#color div.minicolors-panel {
  top: 100%;
  left: 5px;
}
div.field_item_sidebar#img button {
  margin: 0;
  min-width: 120px;
  font-size: 15px;
  background-color: #444;
  color: #fff;
}
div.field_item_sidebar#height span.ui-spinner, div.field_item_sidebar#font-size span.ui-spinner, div.field_item_sidebar#line-height span.ui-spinner {
  width: 100%;
  height: 100% !important;
  display: block;
}
div.field_item_sidebar#height input.ui-spinner-input, div.field_item_sidebar#font-size input.ui-spinner-input, div.field_item_sidebar#line-height input.ui-spinner-input {
  margin: 0;
  padding: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  vertical-align: baseline;
}
div.field_item_sidebar#height a.ui-button, div.field_item_sidebar#font-size a.ui-button, div.field_item_sidebar#line-height a.ui-button {
  position: absolute;
  width: 30px;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
div.field_item_sidebar#height a.ui-button:last-child, div.field_item_sidebar#font-size a.ui-button:last-child, div.field_item_sidebar#line-height a.ui-button:last-child {
  right: 30px;
}
div.field_item_sidebar#text-align span.format_align {
  height: 100%;
  width: 30px;
  position: relative;
  cursor: pointer;
  display: block;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -moz-transition: none 0.3s ease 0s;
  -o-transition: none 0.3s ease 0s;
  -webkit-transition: none 0.3s ease;
  -webkit-transition-delay: 0s;
  transition: none 0.3s ease 0s;
  -moz-transition-property: background-color, opacity;
  -o-transition-property: background-color, opacity;
  -webkit-transition-property: background-color, opacity;
  transition-property: background-color, opacity;
}
div.field_item_sidebar#text-align span.format_align:nth-child(2), div.field_item_sidebar#text-align span.format_align:nth-child(3) {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
div.field_item_sidebar#text-align span.format_align:nth-child(3) {
  border-left: 0;
}
div.field_item_sidebar#text-align span.format_align:hover, div.field_item_sidebar#text-align span.format_align.active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
div.field_item_sidebar#text-align span.format_align.active {
  background-color: #eaeaea;
}
div.field_item_sidebar#text-align span.format_align i {
  position: absolute;
  color: #444;
  font-size: 16px;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
div.field_item_sidebar#padding div.map, div.field_item_sidebar#border div.map {
  height: 200px;
  padding: 10px 10px;
  position: relative;
  background-color: #fafafa;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}
div.field_item_sidebar#padding div.map > span.widget_flipper, div.field_item_sidebar#border div.map > span.widget_flipper {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: 5px;
  right: 5px;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -moz-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  -webkit-transition: background-color 0.3s ease;
  -webkit-transition-delay: 0s;
  transition: background-color 0.3s ease 0s;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
div.field_item_sidebar#padding div.map > span.widget_flipper i, div.field_item_sidebar#border div.map > span.widget_flipper i {
  font-size: 10px;
  color: #444;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
div.field_item_sidebar#padding div.map > span.widget_flipper:hover, div.field_item_sidebar#border div.map > span.widget_flipper:hover {
  background-color: transparent;
}
div.field_item_sidebar#padding div.map > span.widget_flipper:hover i, div.field_item_sidebar#border div.map > span.widget_flipper:hover i {
  color: #000;
}
div.field_item_sidebar#padding div.map > span.widget_flipper.active, div.field_item_sidebar#border div.map > span.widget_flipper.active {
  background-color: rgba(0, 0, 0, 0.5);
}
div.field_item_sidebar#padding div.map > span.widget_flipper.active i, div.field_item_sidebar#border div.map > span.widget_flipper.active i {
  color: #fff;
}
div.field_item_sidebar#padding div.map > span.widget_flipper:first-child, div.field_item_sidebar#border div.map > span.widget_flipper:first-child {
  right: 35px;
}
div.field_item_sidebar#padding div.map > div.map_block, div.field_item_sidebar#border div.map > div.map_block {
  width: calc(calc(100% / 3) - 7px);
  height: calc(calc(100% / 3) - 7px);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
}
div.field_item_sidebar#padding div.map > div.map_block.center, div.field_item_sidebar#border div.map > div.map_block.center {
  margin: 0 10px;
}
div.field_item_sidebar#padding div.map > div.map_block:not(:last-child), div.field_item_sidebar#border div.map > div.map_block:not(:last-child) {
  margin-bottom: 10px;
}
div.field_item_sidebar#padding div.map > div.map_block.notvisible, div.field_item_sidebar#border div.map > div.map_block.notvisible {
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
div.field_item_sidebar#padding div.map > div.map_block.map_block_center, div.field_item_sidebar#border div.map > div.map_block.map_block_center {
  background: repeating-linear-gradient(45deg, #fafafa, #f0f0f0 10px, #fafafa 10px, #f0f0f0 10px);
}
div.field_item_sidebar#padding div.map > div.map_block.map_block_center p, div.field_item_sidebar#border div.map > div.map_block.map_block_center p {
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0 auto;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}
div.field_item_sidebar#padding div.map > div.map_block > div.flipper, div.field_item_sidebar#border div.map > div.map_block > div.flipper {
  width: 100%;
  height: 100%;
  position: relative;
  -moz-transition: -moz-transform 0.3s ease 0s;
  -o-transition: -o-transform 0.3s ease 0s;
  -webkit-transition: -webkit-transform 0.3s ease;
  -webkit-transition-delay: 0s;
  transition: transform 0.3s ease 0s;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
div.field_item_sidebar#padding div.map > div.map_block > div.flipper.active, div.field_item_sidebar#border div.map > div.map_block > div.flipper.active {
  -moz-transform: rotateX(-180deg);
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}
div.field_item_sidebar#padding div.map > div.map_block > div.flipper > div.flipper_front, div.field_item_sidebar#padding div.map > div.map_block > div.flipper > div.flipper_back, div.field_item_sidebar#border div.map > div.map_block > div.flipper > div.flipper_front, div.field_item_sidebar#border div.map > div.map_block > div.flipper > div.flipper_back {
  -moz-transition: -moz-transform 0.3s ease 0s;
  -o-transition: -o-transform 0.3s ease 0s;
  -webkit-transition: -webkit-transform 0.3s ease;
  -webkit-transition-delay: 0s;
  transition: transform 0.3s ease 0s;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
div.field_item_sidebar#padding div.map > div.map_block > div.flipper > div.flipper_front, div.field_item_sidebar#border div.map > div.map_block > div.flipper > div.flipper_front {
  z-index: 0;
}
div.field_item_sidebar#padding div.map > div.map_block > div.flipper > div.flipper_back, div.field_item_sidebar#border div.map > div.map_block > div.flipper > div.flipper_back {
  -moz-transform: perspective(0) rotateX(180deg);
  -webkit-transform: perspective(0) rotateX(180deg);
  transform: perspective(0) rotateX(180deg);
}
div.field_item_sidebar#padding div.map > div.map_block div.map_block_number > span.ui-spinner, div.field_item_sidebar#border div.map > div.map_block div.map_block_number > span.ui-spinner {
  position: relative;
  height: inherit;
  width: inherit;
}
div.field_item_sidebar#padding div.map > div.map_block div.map_block_number > span.ui-spinner > input.ui-spinner-input, div.field_item_sidebar#border div.map > div.map_block div.map_block_number > span.ui-spinner > input.ui-spinner-input {
  padding: 0;
  margin: 0;
  width: 70%;
  text-align: center;
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  vertical-align: baseline;
}
div.field_item_sidebar#padding div.map > div.map_block div.map_block_number > span.ui-spinner > a.ui-button, div.field_item_sidebar#border div.map > div.map_block div.map_block_number > span.ui-spinner > a.ui-button {
  width: 30%;
  height: 50%;
  display: block;
  -moz-box-sizing: border-radius;
  -webkit-box-sizing: border-radius;
  box-sizing: border-radius;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
div.field_item_sidebar#padding div.map > div.map_block div.map_block_number > span.ui-spinner > a.ui-button:not(.ui-spinner-up), div.field_item_sidebar#border div.map > div.map_block div.map_block_number > span.ui-spinner > a.ui-button:not(.ui-spinner-up) {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
div.field_item_sidebar#padding div.map > div.map_block div.map_block_color > div.minicolors, div.field_item_sidebar#border div.map > div.map_block div.map_block_color > div.minicolors {
  height: 100%;
  width: 100%;
  position: relative;
}
div.field_item_sidebar#padding div.map > div.map_block div.map_block_color > div.minicolors > input.minicolors-input, div.field_item_sidebar#border div.map > div.map_block div.map_block_color > div.minicolors > input.minicolors-input {
  padding: 0;
  margin: 0;
  border: 0;
  width: 70%;
  font-size: 13px !important;
  text-align: center;
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  vertical-align: baseline;
}
div.field_item_sidebar#padding div.map > div.map_block div.map_block_color > div.minicolors > span.minicolors-swatch, div.field_item_sidebar#border div.map > div.map_block div.map_block_color > div.minicolors > span.minicolors-swatch {
  width: 30%;
  height: 100%;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 0;
  left: auto;
  top: 0;
  bottom: 0;
}
div.field_item_sidebar#padding div.map > div.map_block div.map_block_color > div.minicolors > div.minicolors-panel, div.field_item_sidebar#border div.map > div.map_block div.map_block_color > div.minicolors > div.minicolors-panel {
  top: 100%;
}

div.thumbnail {
  width: 100%;
  background-color: #fff;
  max-width: 700px;
  margin: 10px 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  padding: 2px 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: opacity 0.2s ease 0s;
  -o-transition: opacity 0.2s ease 0s;
  -webkit-transition: opacity 0.2s ease;
  -webkit-transition-delay: 0s;
  transition: opacity 0.2s ease 0s;
  -moz-transition-property: opacity, border-color;
  -o-transition-property: opacity, border-color;
  -webkit-transition-property: opacity, border-color;
  transition-property: opacity, border-color;
}
div.thumbnail * {
  width: 100%;
  display: block;
  cursor: move;
}
div.thumbnail:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  border-color: #D7CCC8;
}

/*----------  Popup  ----------*/
div#popupCroppie div.popup_container {
  padding: 30px 15px;
  background-color: #FFFFFF;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  max-width: none;
}
div#popupCroppie div.popup_container span#closeCroppie {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  width: 22px;
  height: 22px;
  background-color: transparent;
  cursor: pointer;
}
div#popupCroppie div.popup_container span#closeCroppie::after, div#popupCroppie div.popup_container span#closeCroppie::before {
  content: '';
  position: absolute;
  height: 2px;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -2px;
  width: 100%;
  background-color: #444;
  -moz-transition: -moz-transform 0.3s ease 0s;
  -o-transition: -o-transform 0.3s ease 0s;
  -webkit-transition: -webkit-transform 0.3s ease;
  -webkit-transition-delay: 0s;
  transition: transform 0.3s ease 0s;
}
div#popupCroppie div.popup_container span#closeCroppie::after {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
div#popupCroppie div.popup_container span#closeCroppie::before {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
div#popupCroppie div.popup_container span#closeCroppie:hover::after {
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}
div#popupCroppie div.popup_container span#closeCroppie:hover::before {
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
div#popupCroppie div.popup_container > div.croppie-container {
  width: 100%;
  height: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 350px;
}
div#popupCroppie div.popup_container > div.croppie-container input[type=range]::-webkit-slider-thumb {
  background-color: #0676B2;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  height: 16px;
  width: 16px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: auto;
}
div#popupCroppie div.popup_container > div.croppie-container input[type=range]::-webkit-slider-runnable-track {
  width: 400px;
  height: 6px;
}
div#popupCroppie div.popup_container p {
  margin-bottom: 30px;
}
div#popupCroppie div.popup_container input#altImg {
  display: inline-block;
  padding: 5px 8px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
div#popupCroppie div.popup_container input#newImg {
  -moz-appearance: none;
  -webkit-appearance: none;
  position: relative;
  visibility: hidden;
}
div#popupCroppie div.popup_container input#newImg::after {
  content: 'Choisir un fichier';
  position: absolute;
  left: 50%;
  top: 50%;
  cursor: pointer;
  visibility: visible;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  font-family: 'bariolregular', 'Helvetica';
  font-size: 16px;
  text-align: center;
  padding: 10px 15px;
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
div#popupCroppie div.popup_container button {
  display: inline-block;
}

div#popupExport div.popup_container {
  height: 200px;
  text-align: center;
}
div#popupExport div.popup_container button {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
div#popupExport div.popup_container > p {
  width: 100%;
  position: absolute;
  bottom: 10%;
  text-align: center;
  color: #444;
}

.cssload-thecube {
  width: 73px;
  height: 73px;
  margin: 0 auto;
  margin-top: 49px;
  position: relative;
  transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
}

.cssload-thecube .cssload-cube {
  position: relative;
  transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
}

.cssload-thecube .cssload-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}

.cssload-thecube .cssload-cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2ba0c7;
  animation: cssload-fold-thecube 2.76s infinite linear both;
  -o-animation: cssload-fold-thecube 2.76s infinite linear both;
  -ms-animation: cssload-fold-thecube 2.76s infinite linear both;
  -webkit-animation: cssload-fold-thecube 2.76s infinite linear both;
  -moz-animation: cssload-fold-thecube 2.76s infinite linear both;
  transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
}

.cssload-thecube .cssload-c2 {
  transform: scale(1.1) rotateZ(90deg);
  -o-transform: scale(1.1) rotateZ(90deg);
  -ms-transform: scale(1.1) rotateZ(90deg);
  -webkit-transform: scale(1.1) rotateZ(90deg);
  -moz-transform: scale(1.1) rotateZ(90deg);
}

.cssload-thecube .cssload-c3 {
  transform: scale(1.1) rotateZ(180deg);
  -o-transform: scale(1.1) rotateZ(180deg);
  -ms-transform: scale(1.1) rotateZ(180deg);
  -webkit-transform: scale(1.1) rotateZ(180deg);
  -moz-transform: scale(1.1) rotateZ(180deg);
}

.cssload-thecube .cssload-c4 {
  transform: scale(1.1) rotateZ(270deg);
  -o-transform: scale(1.1) rotateZ(270deg);
  -ms-transform: scale(1.1) rotateZ(270deg);
  -webkit-transform: scale(1.1) rotateZ(270deg);
  -moz-transform: scale(1.1) rotateZ(270deg);
}

.cssload-thecube .cssload-c2:before {
  animation-delay: 0.35s;
  -o-animation-delay: 0.35s;
  -ms-animation-delay: 0.35s;
  -webkit-animation-delay: 0.35s;
  -moz-animation-delay: 0.35s;
}

.cssload-thecube .cssload-c3:before {
  animation-delay: 0.69s;
  -o-animation-delay: 0.69s;
  -ms-animation-delay: 0.69s;
  -webkit-animation-delay: 0.69s;
  -moz-animation-delay: 0.69s;
}

.cssload-thecube .cssload-c4:before {
  animation-delay: 1.04s;
  -o-animation-delay: 1.04s;
  -ms-animation-delay: 1.04s;
  -webkit-animation-delay: 1.04s;
  -moz-animation-delay: 1.04s;
}

@keyframes cssload-fold-thecube {
  0%, 10% {
    transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
                75% {
    transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%,
                100% {
    transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}
@-o-keyframes cssload-fold-thecube {
  0%, 10% {
    -o-transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
                75% {
    -o-transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%,
                100% {
    -o-transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}
@-ms-keyframes cssload-fold-thecube {
  0%, 10% {
    -ms-transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
                75% {
    -ms-transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%,
                100% {
    -ms-transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}
@-webkit-keyframes cssload-fold-thecube {
  0%, 10% {
    -webkit-transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
                75% {
    -webkit-transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%,
                100% {
    -webkit-transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}
@-moz-keyframes cssload-fold-thecube {
  0%, 10% {
    -moz-transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
                75% {
    -moz-transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%,
                100% {
    -moz-transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}
